@import 'styles/variables.scss';

.menuWrapper{
    width: 100%;
    background-color: $primery-pink;
    padding: 12px 10px;
    justify-content: space-around;
    display: inline-flex;
    .menu-icons {
        font-size: 35px;
        color: $primery-white;
    }
}

@media only screen and (min-width: 900px) {
    .menuWrapper {
      font-size: 15px;
      display: inline-block;
      text-align: right;
      a {
        color: $primery-white;
        text-decoration: none;
        margin-right: 20px;
      }
    }
}