$primery-blue : #1e65d8;
$primery-ashe : #7f8c8d;
$secondary-ash : #bdc3c7;
$primery-white : #ecf0f1;
$primery-red :  #c0392b;
$primery-pink : #ff4c83;

$primery-font-size : 12px;
$primery-font-weight : 600;
$secondary-font-weight : 100;
